---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BuyMeAChai from '../components/BuyMeAChai.astro'
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Support Us</title>
	</head>
	<div>
		<Header />
		<main>
			<BuyMeAChai />
		</main>
		<Footer />
	</div>

</html>
