---
import SupportMe from '../components/SupportMe.astro'
const today = new Date()
---

<footer
	class='flex flex-col justify-center items-center w-full px-8 py-6 border-t-2 text-center space-y-4'
>
	<SupportMe />
	<p class='text-sm text-gray-600'>
		&copy; {today.getFullYear()} Pranshu Singh Bisht. All rights reserved.
	</p>
</footer>
